
    .result{
        &_wrapper{

            display: flex;
            justify-content: flex-start;
            align-items: center;
        }

       &_body{
       
        .win{
            background-color: green;
           padding:6px 7px;
           border-radius: 50%;
           color: #fff;
           font-size: 12px;
           margin:0 5px;
        }
        .lose{
            background-color: red;
            padding:6px 9px;
           border-radius: 50%;
           color: #fff;
           font-size: 12px;
           margin:0 5px;
        }
        .draw{
            background-color: gray;
            padding:6px 8px;
            border-radius: 50%;
            color: #fff;
            font-size: 12px;
            margin:0 5px;
        }
       
       }
    }

