.modal{
    &_wrapper{
        background-color: rgba(0,0,0,.15);
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 100;
    }
    &_body{
   
        transform: translateY(-5000px);
        transition: .3s ease-in;
        background-color: #fff;
        z-index: 1000;
        &.open{
            transform: translateY(0)!important;
            transition: .3s ease-in;
        }

        .club-details{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items:center;
            padding: 2rem;
            border-radius: 8px;
            &_image{
                
            }
            &_body{
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items:center;
                &-title{
                   border-bottom: 1px solid green;
                }
                &-details{
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items:flex-start;
                    width: 100%;
                    .data{
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        align-items:center;
                        margin-right: 2rem;
                        padding: 6px 0;
                        &:not(:last-child){
                            border-bottom: 1px solid #efefef;
                        }
                    }
                }
            }
        }
    }
}